.post-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto;
}

.user-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

.profile-pic {
    border-radius: 50%;
    height: 2rem;
    padding: 1rem;
}

.user-post {
    width: 100%;
}

.user-post-img {
    width: 100%;
    overflow: hidden;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
}