.post-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

.user-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.profile-pic {
    border-radius: 50%;
    height: 2rem;
    padding: 1rem;
}

.user-post {
    width: 100%;
}

.user-post-img {
    width: 100%;
    overflow: hidden;
}

.interaction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    padding: 1rem;
}

.interact-icons {
    font-size: 1.8rem;
    padding-bottom: .4rem;
}

.heartIcon {
    padding-right: 1rem;
}

.timeStamp {
    display: flex;
    align-items: flex-start;
    color: grey;
    font-size: 1rem;
    padding: .6rem 1rem;
}