.comment-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    padding: .25rem 1rem;
}

.comment-container p {
    font-family: "Roboto", sans-serif;
}

.user-commenter {
    font-family: "Roboto", sans-serif;    
    font-weight: bold;
    padding: 0 .4rem 0 0;
}